apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  labels:
    app: fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: 296093723319.dkr.ecr.eu-central-1.amazonaws.com/rag-fastapi:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: rag-config
            - secretRef:
                name: rag-secrets
          volumeMounts:
            - name: fastapi-data
              mountPath: /app/assets
      volumes:
        - name: fastapi-data
          emptyDir: {}
