apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:

      - job_name: 'fastapi'
        metrics_path: '/hfhk34_sfsgdg_hre23'   # your custom metrics path
        static_configs:
          - targets: ['fastapi-service:8000']

      - job_name: 'node-exporter'
        static_configs:
          - targets: ['node-exporter:9100']

      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'qdrant'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['qdrant:6333']

      - job_name: 'postgres'
        static_configs:
          - targets: ['postgres-exporter:9187']
