fastapi==0.115.2
starlette==0.39.2
uvicorn[standard]==0.31.1
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic-settings==2.4.0

aiofiles==23.2.1

langchain==0.3.7
langchain-core==0.3.15
langchain-community==0.3.3

PyMuPDF==1.24.10

pymongo==4.10.1
motor==3.5.1
pydantic-mongo==3.0.0

openai==1.47.0
cohere==5.8.0
qdrant-client==1.13.0

SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
psycopg2==2.9.10

prometheus-client==0.21.1
starlette-exporter==0.23.0
fastapi-health==0.4.0

tiktoken==0.8.0
ragas==0.2.14
datasets==3.1.0
